[submodule "docs/website/themes/papermod"]
	path = docs/website/themes/papermod
	url = https://github.com/rfvasile/hugo-PaperMod.git
[submodule "docs/website/themes/hugo-cite"]
	path = docs/website/themes/hugo-cite
	url = https://github.com/rfvasile/hugo-cite.git
